<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
  />
    <link rel="stylesheet" href="/static/User/css/Style.css" />
    <title>FitWeb</title>
  </head>
  <body>
   <!-- navbar section starts below  -->
   <header class="container-fluid">
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"
            ><img src="/static/User/images/logo.png" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link "
                  aria-current="page"
                  href="/user/exercise"
                  >Workout</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/user/bmi"
                  >BMI Calculator</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/user/diet"
                  >Diet Plans</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  More Exercises
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/user/biceps">Biceps</a></li>
                  <li><a class="dropdown-item" href="/user/chest">Chest</a></li>
                  <li>
                    <a class="dropdown-item" href="/user/shoulder">Shoulder</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/user/core">Core(Abs)</a>
                  </li>
                  <li><a class="dropdown-item" href="/user/leg">Legs</a></li>
                  <li><a class="dropdown-item" href="/user/back">Back</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link "
                  aria-current="page"
                  href="/user/profile"
                  >User-Profile</a
                >
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
  <!-- navbar section ends below  -->

  <!-- Diet Plans Code Below  -->
  <div class="container-fluid mt-5" style="color: black;">
    <div class="container">

      <!-- card-1  -->
      <div class="row text-center">
        <div class="card mb-3 p-lg-3 p-1">
          <div class="row g-0">
            <div class="col-md-4 aspect">
              <img
                src="/static/User/images/DietCard/Card-1.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8 aspect text-start  px-md-3 px-1">
              <div class="card-body">
                <h5 class="card-title">Air Fryer Falafel Salad</h5>
                <p class="card-text">
                <p> 1. In food processor, pulse garlic, scallion whites, and
                  1/2 cup baby kale until very finely chopped. Add chickpeas,
                  lemon zest, flour, cumin, coriander, and 1/2 tsp salt and
                  pulse to combine (chickpeas should be chopped but coarse).
                  Form mixture into twenty-four 2-tablespoon balls. </p>
                  
                  <p>2.Heat air fryer to 325°F. Brush insert of basket with oil and
                  add 12 falafel. Air-fry 15 minutes. Brush falafel with 1
                  tablespoon oil and increase air fryer temperature to 400°F.
                  Air-fry until deeply golden, 4 more minutes. Repeat with
                  remaining falafel. </p>
                  
                  <p> 3. In large bowl, whisk together
                  lemon juice and remaining 2 tablespoons olive oil. Add
                  cucumbers and marinate, 5 minutes. Add remaining 6 cups baby
                  kale, parsley, and mint leaves, scallion greens, and 1/2 tsp
                  salt and toss. Top with falafel and dollop of yogurt.</p>
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- card-1 end  -->

       <!-- card-2  -->
       <div class="row text-center">
          <div class="card mb-3 p-lg-3 p-1">
            <div class="row g-0">
              <div class="col-md-4 aspect">
                <img
                  src="/static/User/images/DietCard/Crad-2.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8 aspect text-start  px-md-3 px-1">
                <div class="card-body">
                  <h5 class="card-title"> Veggie & Hummus Sandwich</h5>
                  <p class="card-text">
                  <p> 1.The Bread
                      We prefer the nutty flavor and fiber-boosting benefits of whole-grain bread for our veggie and hummus sandwich. We prefer country bread or bread with a firm crust over sandwich bread which has a softer texture, but either will work. </p>
                    
                    <p>2.The Spreads
                      We use both hummus and mashed avocado as spreads for our sandwich. They help keep the veggies in place and also form a barrier between the bread and the veggies that helps prevent the bread from getting soggy. If you don't have avocado, you can double up on the hummus or try whipped cream cheese (either plain or combined with basil or sundried tomato pesto). Just be sure to spread whatever you're using over both slices of the bread. You can use regular hummus, or try a flavored hummus of your choice. </p>
                    
                    <p> 3.The Veggies
                      We keep our sandwich simple by including salad greens, shredded carrot, cucumber and red bell pepper, but that's just scratching the surface! Try adding spinach, sprouts, sliced red onion, sliced tomato, broccoli slaw, thinly sliced radish and tender fresh herbs like cilantro or basil. Briny ingredients like banana peppers and pickles are good too, but keep in mind that they will also add sodium. Try and keep your variations simple and pick 3-4 veggies instead of piling on the entire produce aisle. Wet ingredients like sliced tomatoes should be patted dry to remove excess moisture before adding to the sandwich.</p>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-2 end  -->
        <!-- card-4  -->
       <div class="row text-center">
          <div class="card mb-3 p-lg-3 p-1">
            <div class="row g-0">
              <div class="col-md-4 aspect">
                <img
                  src="/static/User/images/DietCard/Crad4.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8 aspect text-start  px-md-3 px-1">
                <div class="card-body">
                  <h5 class="card-title">Banana Cakes</h5>
                  <p class="card-text">
                  <p> 1.Preheat oven to 375°F. Coat a muffin tin with cooking spray. </p>
                    
                    <p>2.Combine oats, milk, bananas, brown sugar, eggs, baking powder, cinnamon, vanilla and salt in a large bowl. Fold in pecans. Divide the mixture among the muffin cups (about 1/3 cup each). Bake until a toothpick inserted in the center comes out clean, about 25 minutes. Cool in the pan for 10 minutes, then turn out onto a wire rack. Serve warm or at room temperature.</p>
                    
                    <p> 3.Per Serving: 176 calories; protein 5.2g; carbohydrates 26.4g; dietary fiber 3.1g; sugars 10.5g; fat 6.2g; saturated fat 1.2g; cholesterol 33.4mg; vitamin a iu 118.7IU; vitamin c 1.8mg; folate 20.2mcg; calcium 85.3mg; iron 1.1mg; magnesium 36mg; potassium 227.9mg; sodium 165.6mg; thiamin 0.1mg; added sugar 6g.</p>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-4 end  -->

        <!-- card-5  -->
       <div class="row text-center">
          <div class="card mb-3 p-lg-3 p-1">
            <div class="row g-0">
              <div class="col-md-4 aspect">
                <img
                  src="/static/User/images/DietCard/Card5.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8 aspect text-start  px-md-3 px-1">
                <div class="card-body">
                  <h5 class="card-title">Pea & Spinach Carbonara</h5>
                  <p class="card-text">
                  <p> 1.Put 10 cups of water in a large pot and bring to a boil over high heat.Meanwhile, heat oil in a large skillet over medium-high heat. Add breadcrumbs and garlic; cook, stirring frequently, until toasted, about 2 minutes. Transfer to a small bowl and stir in 2 tablespoons Parmesan and parsley. Set aside.</p>
                    
                    <p>2.Whisk the remaining 6 tablespoons Parmesan, egg yolks, egg, pepper and salt in a medium bowl.Cook pasta in the boiling water, stirring occasionally, for 1 minute. Add spinach and peas and cook until the pasta is tender, about 1 minute more. Reserve 1/4 cup of the cooking water. Drain and place in a large bowl.</p>
                    
                    <p> 3.Slowly whisk the reserved cooking water into the egg mixture. Gradually add the mixture to the pasta, tossing with tongs to combine. Serve topped with the reserved breadcrumb mixture.</p>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-5 end  -->

         <!-- card-6  -->
       <div class="row text-center">
          <div class="card mb-3 p-lg-3 p-1">
            <div class="row g-0">
              <div class="col-md-4 aspect">
                <img
                  src="/static/User/images/DietCard/Card6.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8 aspect text-start  px-md-3 px-1">
                <div class="card-body">
                  <h5 class="card-title">Vegan Superfood Grain Bowls</h5>
                  <p class="card-text">
                  <p> 1.Prepare quinoa according to package directions; set aside to cool.</p>
                    
                    <p>2.Combine hummus and lemon juice in a small bowl. Thin with water to desired dressing consistency. Divide the dressing among 4 small condiment containers with lids and refrigerate.</p>
                    
                    <p> 3.Divide baby kale among 4 single-serving containers with lids. Top each with 1/2 cup of the quinoa, 1/2 cup beets, 1/4 cup edamame and 1 tablespoon sunflower seeds. When ready to eat, top with 1/4 avocado and the hummus dressing.



                    </p>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-6 end  -->

         <!-- card-7  -->
       <div class="row text-center">
          <div class="card mb-3 p-lg-3 p-1">
            <div class="row g-0">
              <div class="col-md-4 aspect">
                <img
                  src="/static/User/images/DietCard/Card7.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8 aspect text-start  px-md-3 px-1">
                <div class="card-body">
                  <h5 class="card-title">Stuffed Sweet Potato with Hummus Dressing</h5>
                  <p class="card-text"> 
                  <p> 1.Prick sweet potato all over with a fork. Microwave on High until cooked through, 7 to 10 minutes..</p>
                    
                    <p>2.Meanwhile, wash kale and drain, allowing water to cling to the leaves. Place in a medium saucepan; cover and cook over medium-high heat, stirring once or twice, until wilted. Add beans; add a tablespoon or two of water if the pot is dry. Continue cooking, uncovered, stirring occasionally, until the mixture is steaming hot, 1 to 2 minutes.</p>
                    
                    <p> 3.Split the sweet potato open and top with the kale and bean mixture. Combine hummus and 2 tablespoons water in a small dish. Add additional water as needed to reach desired consistency. Drizzle the hummus dressing over the stuffed sweet potato.
                    </p>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-7 end  -->

            <!-- card-8  -->
       <div class="row text-center">
          <div class="card mb-3 p-lg-3 p-1">
            <div class="row g-0">
              <div class="col-md-4 aspect">
                <img
                  src="/static/User/images/DietCard/Card8.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8 aspect text-start  px-md-3 px-1">
                <div class="card-body">
                  <h5 class="card-title">Spicy Weight-Loss Cabbage Soup</h5>
                  <p class="card-text">
                  <p> 1.Pick non-starchy vegetables to add to your soup.
                      Outside of cabbage, of course, these can include peppers, celery, carrots and onions. These veggies don't add a lot of calories, but help fill you up on fiber which helps keep you feeling satisfied. In this version, we also add low-sodium canned beans. While not considered "non-starchy", beans add additional fiber and protein to the soup. You can leave them out to keep the calories ultra-low.
                      
                      </p>
                    
                    <p>2.Bring on the heat
                      Studies suggest capsaicin, the antioxidant in chile peppers that gives them their heat, increases the body's metabolic rate (just a little). We think it's worth it flavor-wise to add a little zest to our soup. We use chipotle peppers in adobo sauce which are jalapeño chiles that have been smoked and canned in a flavorful sauce. They add a nice smoky flavor along with poblano peppers, which can also dial up the heat. (If you want to keep your soup mild, you can use green bell pepper in place of the poblano)</p>
                    
                    <p> 3.Go For Garnish
                      A garnish for soup helps tie everything together and adds fresh (or creamy) notes depending on what you use. If you have wiggle room for extra calories, crumbled cheese like queso fresco, plain Greek yogurt or diced avocado all complement this zippy soup. For the calorie-conscious, chopped cilantro, minced pepper or a squeeze of lime juice can do the trick.
                    </p>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-8 end  -->

           <!-- card-9  -->
           <div class="row text-center">
              <div class="card mb-3 p-lg-3 p-1">
                <div class="row g-0">
                  <div class="col-md-4 aspect">
                    <img
                      src="/static/User/images/DietCard/Card9.jpg"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8 aspect text-start  px-md-3 px-1">
                    <div class="card-body">
                      <h5 class="card-title">No-Cook Black Bean Salad</h5>
                      <p class="card-text">
                      <p> 1.Place onion in a medium bowl and cover with cold water. Set aside. Combine avocado, cilantro, lime juice, oil, garlic and salt in a mini food processor. Process, scraping down the sides as needed, until smooth and creamy.
                          
                          </p>
                        
                        <p>2.Just before serving, combine salad greens, corn, tomatoes and beans in a large bowl. Drain the onions and add to the bowl, along with the avocado dressing. Toss to coat.</p>
                        
                        <p> 3.Per Serving: 322 calories; protein 10.6g; carbohydrates 40.8g; dietary fiber 12.9g; sugars 11.4g; fat 16g; saturated fat 2.4g; vitamin a iu 3893.9IU; vitamin c 44.9mg; folate 259.7mcg; calcium 112.5mg; iron 3.8mg; magnesium 78.9mg; potassium 1238mg; sodium 406.7mg; thiamin 0.4mg.
                        </p>
                      </p>
                      <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- card-9 end  -->

    </div>
  </div>
  <!-- Diet Plans Code DOne  -->
    

     <!-- Footer Section Starts Below  -->
<div class="container-fluid mt-5">

  <footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container-fluid p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About This Web</h5>

          <p>
            In Our Website <b>FitWeb</b> You can get Everthing At One Place For Your Daily Routine Life.
          </p>

          <p>
            Here In <b>FitWeb</b> You Can See Your BMI Index. Then See Some Of the Diet Plans.And SOme Of the Best Exercises You Can DO For Better And Healthy Routine
          </p>

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" href="https://www.facebook.com/manavmanav.nanda" target="_blank" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram -->
            <a type="button" href="https://www.instagram.com/manav_nanda1/" target="_blank" class="btn btn-floating btn-light btn-lg"><i class="fab fa-instagram"></i></a>
            <!-- Gmail -->
            <a type="button" href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="btn btn-floating btn-light btn-lg"><i class="fab fa-discord"></i></a>
            <!-- Github -->
            <a type="button" href="https://github.com/ManavNanda1" target="_blank" class="btn btn-floating btn-light btn-lg"><i class="fab fa-github"></i></a>
            <!-- Linkedin -->
            <a type="button" href="https://www.linkedin.com/in/manav-nanda-645a4b204/" target="_blank" class="btn btn-floating btn-light btn-lg"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

          <div class="form-outline form-white mb-4">
            <input placeholder="Search Here" type="text" id="formControlLg" class="form-control form-control-lg text-center" />
          </div>

          <ul class="fa-ul mt-2" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Jamnagar , Gujarat</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">nandamanav7@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91 8780160945</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Features Of FitWeb</h5>

          <table class="table text-center text-white">
            <tbody class="fw-normal">
              <tr>
                <td>Exercises - </td>
                <td>Per Category</td>
              </tr>
              <tr>
                <td>BMI Index -</td>
                <td>Per Fat Level</td>
              </tr>
              <tr>
                <td>Diet Plans - </td>
                <td>Good For Health</td>
              </tr>
              <tr>
                <td>More Exercises- </td>
                <td>60+ Per Muscle</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://nandamanav.cf" target="_blank">Manav_Nanda_Major_Project-2</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
    <!-- Footer Section Ends Here  -->




    <!-- bootstrap and js links below  -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="Script.js"></script>
  </body>
</html>
